


























/* .flex-container {
    display: flex;
   flex-direction: column;
    border: 2px solid grey;
    align-items: center;
    justify-content: center;
    height: 45vh;

}

.flex-item {
    background-color: red;
    border: 2px solid black;
    margin: 12px;
    width: 122px;
    height: 122px;
} */